:root{
    --white: #ffffff
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* icon nav */

.nav-bar{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .3rem .2rem;
    height: 3em;
}

.view{
    color: var(--white);
    background-color: #787a79;
    padding: .3rem .2rem;
    margin-right: .4em;
    border-radius: .3rem;
}

img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.view .text{
    font-size: 14px;
}

.fa-arrows-alt{
    color: var(--white);
    transform: rotate(45deg);
}

.icon{
    background-color: #787a79;
    padding: .4rem;
    border-radius: .3rem;
}

/* container main and card */

.container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding-top: 3em;
    padding-bottom: 2em;
}

.card{
    min-width: 200px;
    position: relative;
    margin-bottom: .4em;
    margin-right: .3em;
}

.voice{
    color: var(--white);
    background-color: rgb(110,124,145, 0.5);
    font-size: 14px;
    padding: .3rem;
    position: absolute;
    bottom: 2%;
    left: 0;
}

/* footer */

.footer-main{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    height: 5em;
}

.foot-left, .foot-center{
    display: flex;
    align-items: center;
}

.foot-left{
    padding-left: 1rem;
}

.foot-list li i{
    font-size: 1.5rem;
}

.foot-list li{
    text-align: center;
}

.foot-list li .fa-chevron-up{
    font-size: .6rem;
}

.foot-list{
    list-style: none;
    display: flex;
    color: var(--white);
}

.foot-list li{
    padding-right: 1.5em;
}

.foot-right{
    display: flex;
    align-items: center;
    background-color: #4a4a4a;
}

.end{
    padding: .5rem;
    color: red;
}
